@keyframes slideInFromRight {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        top: -100px;
    }

    to {
        top: 20px;
    }
}

@keyframes slideUp {
    from {
        top: 20px;
    }

    to {
        top: -100px;
    }
}

/* @keyframes slideOutToRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(50%);
        opacity: 0;
    }
} */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

body {
    opacity: 0;
    transition: opacity 1.7s ease-in-out;
    background-color: whitesmoke;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    background: transparent;
    z-index: 1000;
    padding: 10px;
    margin: 50px;
}

.nav-bar-left,
.nav-bar-right {
    display: flex;
}

.nav-bar ul {
    list-style: none;
}

.nav-bar li {
    position: relative;
    margin-right: 5vw;
}

.nav-drop-down {
    padding-top: 10px;
    display: none;
    position: absolute;
    left: 0;
    z-index: 1;
}

.drop-down:hover {
    cursor: pointer;
}

.drop-down-hymn {
    color: #edc43d;
}

.drop-down-hymn:hover {
    color: #f1b103;
}

.drop-down-hymn:hover {
    cursor: pointer;
}

.drop-down-item {
    width: 100%;
    height: 40px;
    opacity: 0;
    transition: color 0.4s ease-out;
    animation: slideInFromRight 0.3s ease-out forwards;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #edc43d;
    background-color: rgba(245, 245, 245, 0.09);
    padding-left: 10px;
}

.drop-down-item:nth-child(1) {
    animation-delay: 0.1s;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.drop-down-item:nth-child(2) {
    animation-delay: 0.25s;
}

.drop-down-item:nth-child(3) {
    animation-delay: 0.4s;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.drop-down-item:hover {
    color: #edc43d;
}

.drop-down:hover .nav-drop-down,
.drop-down-hymn:hover .nav-drop-down {
    display: block;
}

.nav-drop-down a {
    padding: 8px 12px;
    display: block;
}

.nav-item {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.4s ease-in-out;
}

.nav-item:hover {
    color: #edc43d;
}

.nav-item-hymn {
    text-decoration: none;
    color: #edc43d;
    transition: color 0.4s ease-in-out;
}

.nav-item-hymn:hover {
    color: #f1b103;
}

.background-image {
    margin-top: -80px;
}

.landing-element {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 0;
    z-index: 0;
}

.title {
    margin: 25px;
    color: whitesmoke;
    font-size: xx-large;
    font-style: italic;
}

#main-title {
    margin-top: 30%;
}

.subtitle {
    margin: 15px;
    color: whitesmoke;
    font-size: x-large;
    font-style: italic;
}

.horizontal-bar {
    height: 3px;
    background-color: #333;
    width: 50%;
    margin: 15px auto;
}

.description-text {
    margin: 15px;
    width: 50%;
    color: whitesmoke;
    font-size: large;
    font-style: italic;
    line-height: 200%;
}

.ting-vertical {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.content {
    /* height: 110vh; */
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

#full-height-content {
    height: 110vh;
}

.parallax-1 {
    margin-top: -200px;
}

.parallax-2 {
    height: 200vh;
    object-fit: cover;
    object-position: center middle;
}

#hymn-content {
    height: 80vh;
    width: auto;
}

.download-svg {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 6px;
}

.hymn-button {
    z-index: 100;
}

#contact-title {
    align-items: center;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.form-item {
    padding: 5px;
    margin-top: 5px;
    outline: #edc43d;
    font-family: 'Times New Roman', Times, serif;
}

input,
textarea {
    transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
    border: 2px solid transparent;
    box-shadow: none;
}

input:focus,
textarea:focus {
    border: #edc43d;
    box-shadow: 0 0 0 2px #edc43d;
}

#form-message {
    height: 200px;
    resize: both;
}

#submit-button {
    background-color: whitesmoke;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    border-radius: 5px;
}

#submit-button.submit-button-success {
    background-color: #edc43d;
}

.confirmation-message {
    position: fixed;
    top: -50px;
    left: 50vw;
    transform: translateX(-50%);
    background-color: #edc43d;
    background-image: linear-gradient(to right, #6e74e3 75%, #646bec) 100%;
    color: whitesmoke;
    padding: 20px;
    width: fit-content;
    border-radius: 5px;
    animation-name: slideDown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    text-align: center;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    opacity: 0.95;
}

.confirmation-message.exit {
    animation-name: slideUp;
}

.captcha {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hymn-project-background {
    position: fixed;
    top: 0;
    z-index: -1000;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.background {
    height: 100vh;
    width: 100vw;
}

#hymn-project-content-1 {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
}

.hymn-project-content-title {
    color: #edc43d;
}

#studio-banner {
    height: 40vh;
    /* background-color: #edc43d; */
    /* background: linear-gradient(to right, #edc43d, #f3d276); */
    width: 100vw;
}

.studio-banner-title {
    font-style: italic;
    font-size: 80px;
    margin-top: 10px;
}

.studio-banner-subtitle {
    font-size: 30px;
    margin-right: 26%;
    font-weight: lighter;
}

#mission-content {
    flex-direction: row;
    height: 75vh;
}

#suzuki-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border-top: 3px solid #edc43d;
    border-bottom: 3px solid #edc43d;
    background-color: #b6b6b623;
    margin-right: 8vw;
    padding: 30px;
}

#suzuki-quote {
    line-height: 200%;
    font-size: 20px;
}

#mission-statement {
    width: 50vw;
}

#suzuki-signature {
    font-style: italic;
    font-size: 30px;
}

#mission-title {
    margin-bottom: 1em;
    font-size: 30px;
    font-weight: 600;
}

#mission-statement {
    line-height: 150%;
    font-size: 20px;
}

.studio-landing-content {
    height: 100%;
}

#location {
    flex-direction: row;
    height: 90vh;
}

.location-div {
    display: flex;
    flex-direction: row;
    width: 50vw;
}

#image-grid {
    display: grid;
    grid-template-columns: 200px 400px;
    grid-template-rows: 300px 300px;
    gap: 10px;
}

.location-div .ting-teaching {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

#location-text {
    align-items: center;
    justify-content: center;
    position: relative;
}

#location-text-inner {
    position: relative;
    align-items: center;
    justify-content: center;
}

#ting-image {
    width: 50%;
}

.ting-teaching {
    float: center;
}

#location-text-content {
    width: 40%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 50px;
    background-color: rgba(245, 245, 245, 0.706);
    font-size: 24px;
}

.line-decoration {
    display: flex;
    margin: 6vw;
}

#suzuki-method {
    background: linear-gradient(#123070, #0d3a9a);
    flex-direction: row;
    height: 100vh;
}

.suzuki-method {
    width: 50vw;
    display: flex;
    flex-direction: row;
    color: whitesmoke;
}

#suzuki-method-text {
    line-height: 150%;
}

#suzuki-method-title {
    margin-bottom: 1.5em;
}

#nav-button {
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 10px;
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#nav-button:hover {
    color: #edc43d;
    border-color: #edc43d;
}

.pricing-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    color: whitesmoke;
}

.pricing-element {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 25vw;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    margin: 20px;
    padding: 5px;
    position: relative;
}

#price-element-1,
#price-element-2 {
    height: fit-content;
    padding-right: 20px;
}

.price-element-title {
    font-weight: bolder;
    margin: 30px;
}

.price-text {
    font-weight: 200;
    line-height: 150%;
    margin-top: 10px;
    margin-left: 35px;
    margin-bottom: 25px;
}

#current-pricing {
    font-weight: bold;
}

.price-text-inner {
    margin: 10px;
    line-height: 150%;
    font-size: 14px;
    margin-top: auto;
}

.scroll-element {
    text-decoration: none;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 10px;
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
    margin-top: auto;
    margin-left: 10px;
}

.scroll-element:hover {
    color: #edc43d;
    border-color: #edc43d;
}

.scroll-element-div {
    margin: 20px;
    margin-top: auto;
}

#practicing-element {
    height: auto;
    padding: 50px;
    background-color: #0d3a9aa8;
}

#practice-title {
    font-weight: 100;
    color: #b3b3b3;
    padding: 10px;
    margin: 5px;
}

#practice-text {
    padding: 5px;
    line-height: 150%;
}

#practice-bullet-points {
    padding-left: 30px;
    font-size: 15.5px;
    font-weight: 100;
    color: #d4d4d4;
}

#practice-bullet-points li {
    padding-top: 10px;
    list-style-type: none;
}

.upcoming-events-title {
    font-size: 75px;
    margin-top: 50px;
    padding: 50px;
    font-style: italic;
}

.upcoming-events-content {
    padding: 100px;
}

.no-events-display {
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event {
    margin: 10px;
    padding: 50px;
    border-bottom: 1px solid black;
    width: 50vw;
}

.event-info {
    display: flex;
}

.event-date {
    font-size: 20px;
}

.event-info {
    font-size: 28px;
}

#upcoming-events {
    height: auto;
}

.bio-element {
    width: fit-content;
    height: auto;
    border-radius: 10px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    padding: 40px;
    margin-top: 30vh;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1);
    margin-left: 5vw;
}

.bio-title {
    color: rgb(31, 30, 43);
    font-size: 50px;
    font-style: italic;
    margin-bottom: 3vh;
}

.horizontal-line {
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 5vh;
}

.bio-quote {
    font-style: italic;
    font-size: 30px;
    line-height: 200%;
    width: 35vw;
    margin-bottom: 3vh;
    color: rgb(31, 30, 43);
}

.short-bio {
    font-size: 18px;
    width: 35vw;
    line-height: 150%;
    color: rgb(31, 30, 43);
}

.bio-download-div {
    align-self: flex-start;
    padding: 10px;
    margin-top: 25px;
    display: inline-flex;
}

.bio-download {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 25px;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.bio-download:hover {
    border-color: black;
    background-color: whitesmoke;
}

#bio-download-svg {
    position: relative;
    margin-left: 20px;
}

.sound-sampler {
    position: absolute;
    left: 50%;
    width: 20vw;
    transform: translateX(-50%);
    border-radius: 50px;
    height: 5vh;
    font-size: 20px;
    font-style: italic;
    background: linear-gradient(to right, #edc43d 10%, #ffd86b);
    cursor: pointer;
    overflow: hidden;
    border: none;
    bottom: 10%;
    opacity: 0.8;
}

.sound-sampler span {
    position: relative;
    z-index: 100;
}

.sound-sampler::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #fdf6e1 55%, #edc43d);
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 50px;
}

.sound-sampler:hover::before {
    opacity: 1;
}

#hymn-background-video {
    position: relative;
    /* filter: blur(5px); */
    height: auto;
    width: 50vw;
    z-index: 101;
    padding-left: 100px;
}

.hymn-project-info {
    color: whitesmoke;
    padding: 160px;
}

.hymn-project-about {
    line-height: 200%;
    font-style: italic;
    font-size: 26px;
    border-bottom: 1px solid #edc43d;
    border-top: 1px solid #edc43d;
}

#hymn-project-events {
    color: #edc43d;
    font-weight: 100;
    text-shadow: 1px 1px rgba(112, 112, 112, 0.59)
        /* background-color: black; */
}

#upcoming-events-hymn {
    width: 100vw;
    height: auto;
    background: linear-gradient(to left, #edc43d, whitesmoke 65%);
}

body.hymn-project-page {
    opacity: 1;
    background-color: black !important;
}

@media only screen and (max-width: 480px) {
    .nav-bar {
        flex-direction: column;
        align-items: stretch;
        padding: 5px;
        margin: 20px 10px;
        margin-top: 5px;
        font-size: 12.5px;
    }

    .nav-bar ul {
        padding: 0;
        margin: 5px 0;
    }

    .nav-bar li {
        margin-bottom: 15px;
    }

    #full-height-content {
        padding-top: 20vh;
    }

    .title {
        font-size: x-large;
    }

    #hymn-content {
        height: 100vh;
    }

    .description-text {
        width: 75vw;
        font-size: medium;
    }

    #nav-button {
        margin-top: 10px;
    }

    .parallax-2 {
        height: fit-content;
    }

    .bio-element {
        margin-top: 5vh;
        height: fit-content;
        font-weight: bolder;
        padding: 20px;
        margin-left: 2vw;
    }

    .bio-title {
        font-size: x-large;
    }

    .bio-quote,
    .short-bio {
        font-size: large;
        width: 85vw;
    }

    .studio-banner-title {
        font-size: 40px;
    }

    .studio-banner-subtitle {
        font-size: x-large;
    }

    #mission-content {
        height: fit-content;
        flex-direction: column;
    }

    #suzuki-div {
        width: fit-content;
        margin: 0;
    }

    #mission-statement {
        width: fit-content;
        margin: 10px;
        padding: 10px;
    }

    #suzuki-quote {
        font-size: 14px;
    }

    #suzuki-signature {
        font-size: 14px;
    }

    #mission-title {
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        padding-top: 15px;
    }

    #location {
        flex-direction: column;
    }

    #mission-statement {
        font-size: 14px;
    }

    #location-text-content {
        font-size: 14px;
        padding: 15px;
        width: fit-content;
        margin-right: 25px;
    }

    .location-div {
        margin-top: 10px;
        padding-top: 10px;
        align-items: center;
        justify-content: center;
        width: fit-content;
        font-weight: bolder;
    }

    #next-image {
        width: 100%;
        height: auto;
    }

    #image-grid {
        grid-template-columns: 100px 200px;
        grid-template-rows: 150px 150px;
    }

    .suzuki-method {
        margin-top: 10px;
        padding-top: 10px;
        width: fit-content;
    }

    #suzuki-method {
        height: fit-content;
        width: auto;
        flex-direction: column;
    }

    #suzuki-method-text {
        font-size: 14px;
    }

    .pricing-right {
        margin-top: 10px;
        padding-top: 10px;
        width: fit-content;
    }

    .pricing-element {
        width: fit-content;
        height: fit-content;
    }

    #practicing-element {
        padding: 10px;
    }

    .upcoming-events-title {
        font-size: larger;
        margin-top: 20px;
        padding: 30px;
    }

    .upcoming-events-content {
        padding: 5px;
    }

    .no-events-display {
        font-size: large;
    }

    .event {
        padding: 10px;
        width: fit-content;
    }

    .event-date {
        font-size: 12px;
    }

    .event-info {
        font-size: 16px;
    }

    #contact-title {
        font-size: xx-large;
    }

    .contact-form {
        width: fit-content;
    }

    .background {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        background-color: black;
        z-index: -2000;
        margin-top: -150px;
        display: flex;
        align-items: center;
    }

    .hymn-project-background {
        position: relative;
        height: fit-content;
        width: 100vw;
        z-index: 0;
    }

    .sound-sampler {
        width: fit-content;
        height: fit-content;
        font-size: 24px;
    }

    #hymn-project-content-1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .hymn-project-info {
        padding: 20px;
    }

    .hymn-project-about {
        line-height: 150%;
        font-size: 14px;
        padding: 10px;
    }

    #hymn-background-video {
        padding: 0;
        margin-top: 10px;
        width: 100vw;
        height: auto;
        margin-bottom: 50px;
    }

    body.hymn-project-page {
        opacity: 1;
        background-color: black !important;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .nav-bar {
        padding: 5px;
        margin: 40px;
    }

    .nav-bar li {
        margin-right: 4vw
    }

    .parallax-2 {
        height: fit-content;
    }

    #mission-content {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        height: fit-content;
    }

    #location {
        flex-direction: column;
        height: fit-content;
    }

    #location-text-content {
        font-size: 24px;
        padding: 15px;
        width: fit-content;
        margin-right: 25px;
    }

    .location-div {
        margin-top: 10px;
        padding-top: 10px;
        align-items: center;
        justify-content: center;
        width: fit-content;
        font-weight: bolder;
    }

    #next-image {
        width: 100%;
        height: auto;
    }

    #image-grid {
        grid-template-columns: 200px 400px;
        grid-template-rows: 300px 300px;
        padding-bottom: 50px;
        margin-bottom: 20px;
    }

    #suzuki-method {
        height: fit-content;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .pricing-element {
        width: fit-content;
    }

    .pricing-element {
        width: fit-content;
        height: fit-content;
    }

    #parents-and-practicing {
        width: fit-content;
    }

    .upcoming-events-title {
        font-size: 55px;
        margin-top: 20px;
        padding: 30px;
    }

    .upcoming-events-content {
        padding: 5px;
        padding-bottom: 40px;
    }

    .no-events-display {
        font-size: xx-large;
    }

    .event {
        padding: 10px;
        width: fit-content;
    }

    .event-date {
        font-size: 20px;
    }

    .event-info {
        font-size: 24px;
    }

    #contact-title {
        font-size: 40px;
    }

    .contact-form {
        width: fit-content;
    }

    .hymn-project-background {
        position: relative;
        height: fit-content;
        width: 100vw;
        z-index: 0;
    }

    .sound-sampler {
        width: fit-content;
        height: fit-content;
        font-size: 24px;
    }

    #hymn-project-content-1 {
        display: flex;
        flex-direction: column-reverse;
    }

    .hymn-project-info {
        padding: 20px;
    }

    .hymn-project-about {
        line-height: 150%;
        font-size: 36px;
        padding: 50px;
        margin-bottom: 100px;
    }

    #hymn-background-video {
        padding: 0;
        margin-top: 10px;
        width: 100vw;
        height: auto;
        margin-bottom: 50px;
    }

    body.hymn-project-page {
        opacity: 1;
        background-color: black !important;
    }
}