@keyframes slideInFromRight {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        top: -100px;
    }
    to {
        top: 20px;
    }
}

@keyframes slideUp {
    from {
        top: 20px;
    }
    to {
        top: -100px;
    }
}

/* @keyframes slideOutToRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(50%);
        opacity: 0;
    }
} */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

body {
    opacity: 0;
    transition: opacity 1.7s ease-in-out;
    background-color: whitesmoke;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    background: transparent;
    z-index: 1000;
    padding: 10px;
    margin: 50px;
}

.nav-bar-left,
.nav-bar-right {
    display: flex;
}

.nav-bar ul {
    list-style: none;
}

.nav-bar li {
    position: relative;
    margin-right: 5vw;
}

.nav-drop-down {
    padding-top: 10px;
    display: none;
    position: absolute;
    left: 0;
    z-index: 1;
}

.drop-down:hover {
    cursor: pointer;
}

.drop-down-hymn {
    color: #edc43d;
}

.drop-down-hymn:hover {
    color: #f1b103;
}

.drop-down-hymn:hover {
    cursor: pointer;
}

.drop-down-item {
    width: 100%;
    height: 40px;
    opacity: 0;
    transition: color 0.4s ease-out;
    animation: slideInFromRight 0.3s ease-out forwards;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #edc43d;
    background-color: rgba(245, 245, 245, 0.09);
    padding-left: 10px;
}

.drop-down-item:nth-child(1) {
    animation-delay: 0.1s;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.drop-down-item:nth-child(2) {
    animation-delay: 0.25s;
}

.drop-down-item:nth-child(3) {
    animation-delay: 0.4s;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.drop-down-item:hover {
    color: #edc43d;
}

.drop-down:hover .nav-drop-down,
.drop-down-hymn:hover .nav-drop-down {
    display: block;
}

.nav-drop-down a {
    padding: 8px 12px;
    display: block;
}

.nav-item {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.4s ease-in-out;
}

.nav-item:hover {
    color: #edc43d;
}

.nav-item-hymn {
    text-decoration: none;
    color: #edc43d;
    transition: color 0.4s ease-in-out;
}

.nav-item-hymn:hover {
    color: #f1b103;
}

.background-image {
    margin-top: -80px;
}

.landing-element {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 0;
    z-index: 0;
}

.title {
    margin: 25px;
    color: whitesmoke;
    font-size: xx-large;
    font-style: italic;
}

#main-title {
    margin-top: 30%;
}

.subtitle {
    margin: 15px;
    color: whitesmoke;
    font-size: x-large;
    font-style: italic;
}

.horizontal-bar {
    height: 3px;
    background-color: #333;
    width: 50%;
    margin: 15px auto;
}

.description-text {
    margin: 15px;
    width: 50%;
    color: whitesmoke;
    font-size: large;
    font-style: italic;
}

.ting-vertical {
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.content {
    height: 110vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parallax-1 {
    margin-top: -140px;
}

.parallax-2 {
    height: 200vh;
    object-fit: cover;
    object-position: center middle;
}

.download-svg {
    width: 14px;
    height: 14px;
    position: absolute;
    right: 6px;
}

.hymn-button {
    z-index: 100;
}

#contact-title {
    align-items: center;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.form-item {
    padding: 5px;
    margin-top: 5px;
    outline: #edc43d;
    font-family: 'Times New Roman', Times, serif;
}

input, textarea {
    transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
    border: 2px solid transparent;
    box-shadow: none;
}

input:focus, textarea:focus {
    border: #edc43d;
    box-shadow: 0 0 0 2px #edc43d;
}

#form-message {
    height: 200px;
    resize: both;
}

#submit-button {
    background-color: whitesmoke;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

#submit-button.submit-button-success {
    background-color: #646bec;
}

.confirmation-message {
    position: fixed;
    top: -50px;
    left: 50vw;
    transform: translateX(-50%);
    background-color: #646bec;
    background-image: linear-gradient(to right, #6e74e3 75%, #646bec) 100%;
    color: whitesmoke;
    padding: 20px;
    width: 15vw;
    border-radius: 5px;
    animation-name: slideDown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    text-align: center;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    opacity: 0.95;
}

.confirmation-message.exit {
    animation-name: slideUp;
}

.captcha {
    margin-top: 10px;
    margin-bottom: 10px;
}

.hymn-project-background {
    position: fixed;
    top: 0;
    z-index: -1000;
}

.background {
    height: 100vh;
    width: 100vw;
}

#hymn-project-content-1 {
    background-color: rgb(0, 0, 0);
}

.hymn-project-content-title {
    color: #edc43d;
}

#studio-banner {
    height: 40vh;
    background-color: #edc43d;
    width: 100vw;
}

.studio-banner-title {
    font-style: italic;
    font-size: 80px;
    margin-top: 10px;
}

.studio-banner-subtitle {
    font-size: 30px;
    margin-right: 26%;
    font-weight: lighter;
}

#mission-content {
    flex-direction: row;
    height: 75vh;
}

#suzuki-div {
    width: 33vw;
}

#suzuki-quote {
    width: 60%;
    line-height: 200%;
    font-size: 20px;
}

#mission-statement {
    width: 40vw;
}

#suzuki-signature {
    font-style: italic;
    font-size: 30px;
}

#mission-title {
    margin-bottom: 1em;
    font-size: 30px;
    font-weight: 600;
}

#mission-statement {
    line-height: 150%;
    font-size: 20px;
}

.studio-landing-content {
    height: 100%;
}

#location {
    flex-direction: row;
}

#location-div {
    width: 50%;
}

#ting-image {
    width: 50%;
}

.ting-sitting {
    float: right;
}